body, html {
	background: white;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background: #fff;
}

.back-floor {
  position: absolute;

	width: 66vw;
	height: 1px;
	background: black;
  right: 0em;
  bottom: 67vh;
}

.left-floor {
  position: absolute;
	width: 1000px;
	height: 1px;
	background: black;
  right: 66vw;
  bottom: 67vh;
  transform: rotate(-45deg);
  transform-origin: 100% 0;
}

.wall {
  position: absolute;
	width: 1px;
	height: 33vh;
	background: black;
  right: 66vw;
  bottom: 67vh;
}

.monster {
  position: fixed;
  right: 14em;
  bottom: 12em;
  z-index: 1;
}

.everything {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2;
}
